body{
    background: rgb(205,215,191);
background: radial-gradient(circle, rgba(205,215,191,0.8956582633053222) 0%, rgba(230,221,193,0.7780112044817927) 49%, rgba(188,220,202,0.4726890756302521) 100%);
}
.titulos{
color:darkcyan;

}
#nav{
    color:white;
}

