{% extends 'principal.html' %}
{% block titulo %}
  editar contrato
{% endblock %}
{% block contenido %}
<main>
     <div class="contenedor">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <form action="{{ url_for('actualizar_contrato') }}" method="post">
            
            <input type="hidden" name="id" value="{{ Contratos[0] }}" />
            
          <div class= "mb-3">
            
            <label for="propietario">PROPIETARIO</label>
             <input value="{{Contratos[1]}}" required type="text" class="input" placeholder="Propietario" id="propietario" name="propietario" />
            </div>
             <div class= "mb-3">
            <label for="inquilino">INQUILINO</label>
            <input value="{{Contratos[2] }}" required type="text" class="input" placeholder="Inquilino" id="inquilino" name="inquilino" />
            </div>
            <div class= "mb-3">
            
              <label for="propiedad">PROPIEDAD</label>
            <input value="{{ Contratos[3] }}" required type="text" class="input" name="propiedad" placeholder="" id="propiedad" />
              </div>  
            <div class= "mb-3"> 
            <label for="fecha">FECHA_INI</label>
             <input value="{{Contratos[4] }}" required type="text" class="input" placeholder="Fecha" id="fecha" name="fecha" />
            </div>
            <div class= "mb-3">
            
              <label for="duracion">DURACION</label>
            <input value="{{ Contratos[5] }}" required type="text" class="input" name="duracion" placeholder="" id="duracion" />
              </div>  
            <div class= "mb-3">
            <label for="precio_ini">PRECIO_INI</label>
           <input value="{{Contratos[7] }}" required type="text" class="input" placeholder="Precio_ini" id="precio_ini" name="precio_ini" />
             </div> 
           <div class= "mb-3">
            
            <label for="precio_6">PRECIO_6MESES</label>
            <input value="{{Contratos[8] }}" required type="text" class="input" placeholder="Precio_6" id="precio_6" name="precio_6" /><label for="precio_12">
            </div>
            <div class= "mb-3">
           
            <label for="precio_6">PRECIO_12MESES</label>
            <input value="{{Contratos[9] }}" required type="text" class="input" placeholder="Precio_12" id="precio_12" name="precio_12" />
            </div>
            <div class= "mb-3">
                <label for="precio_18">PRECIO_18MESES</label>
            <input value="{{Contratos[10] }}" required type="text" class="input" placeholder="Precio_18" id="precio_18" name="precio_18" />
            </div>
            <div class= "mb-3">
            
            <label for="precio_24">PRECIO_24</label>
            <input value="{{Contratos[11] }}" required type="text" class="input" placeholder="Precio_24" id="precio_24" name="precio_24" />
            </div>
            <div class= "mb-3">
           
            <label for="precio_30">PRECIO_30</label>
            <input value="{{Contratos[12] }}" required type="text" class="input" placeholder="Precio_30" id="precio_30" name="precio_30" />
            </div>
            <div class= "mb-3">
            <label for="honorarios">HONORARIOS</label>
            <input value="{{Contratos[13] }}" required type="text" class="input" placeholder="honorarios" id="honorarios" name="honorarios" />
            </div>
            <button type="submit" class="btn btn-primary">GUARDAR</button>
             
           
          </form>
        </div>

        <div class="col-md-4"></div>
      </div>
    </div>
    <main/>
   
  </body>
{% endblock %}