{% extends 'principal.html' %}
{% block titulo %}
 inquilinos
{% endblock %}
{% block contenido %}
  <div class="container">
    <br />
    <br />
    <br />
    <a href={{url_for('guardar_inquilino')}} class="btn btn-warning titulos">Cargar Inquilinos</a>
    <br />
    <br />
    <form action="{{ url_for('inquilino') }}">
      <input type="text" name="apellido" id="apellido" plasholder="Apellido" />
      <button class="btn btn-warning">Buscar por apellido</button>
    </form>
    <br />
    <br />
    <div class="table table-striped">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">D.N.I.</th>
            <th scope="col">Cuit</th>
            <th scope="col">Direccion</th>
            <th scope="col">Tel</th>
            <th scope="col">Celular</th>
            <th scope="col">Correo_elec</th>
            <th scope="col">fecha</th>
            <th scope="col">editar</th>
            <th scope="col">eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for prop in Inquilinos %}
            <tr class="">
              <td>{{ prop[0] }}</td>
              <td>{{ prop[1] }}</td>
              <td>{{ prop[2] }}</td>
              <td>{{ prop[3] }}</td>
              <td>{{ prop[4] }}</td>
              <td>{{ prop[5] }}</td>
              <td>{{ prop[6] }}</td>
              <td>{{ prop[7] }}</td>
              <td>{{ prop[8] }}</td>
              <td>{{ prop[9] }}</td>
              <td>
                <a href="{{ url_for('editar_inquilino', id = prop[0]) }}" class="btn btn-warning" onclick=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill text-white" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg></a>
              </td>
              <td>
                <form action="{{ url_for('eliminar_inquilino') }}" method="post">
                  <input type="hidden" name="id" value ="{{ prop[0] }}" />
                  <button class="btn btn-danger" id="botton1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor " class="bi bi-trash text-white" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                  </svg></button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </div>
{% endblock %}