{% extends 'principal.html' %}
{% block titulo %}
  propiedades
{% endblock %}
{% block contenido %}
  <div class="container">
    <br />
    <br />
    <br />
    <a href="guardar_propiedad" class="btn btn-warning titulos">Cargar Propiedades</a>
    <br />
    <br />
    
      <div class="mb-3">
        
       
         
          <div class="col-auto my-1">
            <form action="{{ url_for('propiedades') }}">
              <input type="text" name="prop" id="direccion" plasholder="Direccion" />
              <button  class="btn btn-warning">Buscar por propiedad</button>
            </form>
          </div>
        </div>

      
    <br />
    <br />
    <div class="table-responsive">
      <table class="table table-primary" id="tabla">
        <thead>
          
            <th scope="col">id</th>
            <th scope="col">Direccion</th>
            <th scope="col">Localidad</th>
            <th scope="col">Propietario</th>
            <th scope="col">fecha</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for prop in Propiedad %} 
          <tr class="">
       
              <td>{{ prop[0] }}</td>
              <td>{{ prop[1] }}</td>
              <td>{{ prop[2] }}</td>
              <td>{{ prop[3] }}</td>
              <td>{{ prop[4] }}</td>

              <td id="1">
             <a href="{{ url_for('editar_propiedad', id=prop[0]) }}" class="btn btn-primary btn-lg" id=""> Editar  </a>
              </td>
              <td id="2">
                <a href="{{ url_for('eliminar_propiedad', id=prop[0]) }}" class="btn btn-danger"> ELIMINAR </a>
              </td>
             </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script src ="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="static\jav\funcion.js"></script> 

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </div>
{% endblock %}
</body>
</html>
