{% extends 'principal.html' %}
{% block titulo %}
  recibo propietario
{% endblock %}

{% block contenido %}
<script type="text/javascript" src="\static\js\funcion.js"></script>
<div class="container overflow-hidden">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <br />
        <div class="card">
          <div class="card-header">
            <h2 class="text-center pt-1 titulos">RECIBO PROPIETARIO</h2>
          </div>
          <div class="card-body">
                <form action="{{ url_for('guardar') }}" method="POST","GET"  >
            
                      <div class="col-md">
                            <div class="mb-3">
                                    <label for="propiedad" class="form-label" onclick="hola()" >Propiedad</label>
                                    <input type="text" disabled="true" value="{{ registro.direccion }}" class="form-control" name="propiedad" id="propiedad" aria-describedby="helpId"  placeholder="" />
                            </div>
                            <div class="mb-3">
                                    <label for="propietario" class="form-label">Propietario</label>
                                    <input type="text" disabled="true" value="{{ registro.apellido }}" class="form-control" name="propietario" id="propietario" aria-describedby="helpId" placeholder="" />
                            </div> 
                            <div class="mb-3">
                                    <label for="recibo" class="form-label">Numero de recibo</label>
                                    <input type="text" disabled="true" value="{{registro.numeroRecibo}}" class="form-control" name="num_recibo" id="num_recibo" aria-describedby="helpId" placeholder="" />
                            </div>
                      </div>
                                
                                                      
                      <div class="col-md">
                            <div class="mb-3">
                                  <label for="fecha" class="form-label">Fecha</label>
                                  <input type="text" disabled="true" value="{{ registro.fecha1 }}" class="form-control" name="fecha" id="fecha" aria-describedby="helpId" placeholder="" />
                            </div>
                      </div>
                      
                 
                                  
                      <div class="row g-3">
                             <div class="col-sm-6 col-md-6">
                                  <div class="col-sm-6 col-md-2 "></div>
                                       <div class="col-sm-6 col-md-4 ">
                                            <div class="mb-2">
                                                <label for="mes_de_pago"  class="form-label">Mes de Contrato</label>
                                                <input type="text" disabled="true" value="{{ registro.cuotameses }}" class="form-control" name="mes" id="mes_de_pago" aria-describedby="helpId" placeholder="" />
                                            </div>
                                        </div>
                                  </div>    
                      </div>  
                      
                      <div class="row g-3">
                              <div class="col-sm-6 col-md-4 ">  
                                  <div class="mb-2">
                                       <label for="mensualidad" class="form-label text-wrap"></label>{{}}
                                    
                                       <input type="text" disabled="true" value="{{ registro.meses }}" class="form-control" name="mensualidad" id="mensualidad" aria-describedby="helpId" placeholder="" /> 
                                       
                                    </div>
                              </div>
                      </div>        
                        
                  <div class="row g-3 ">
                        <div class="col-sm-6 col-md-3 ">  
                               <div class="mb-2">
                                   
                                   <label for="abl" class="form-label">Abl</label>   
                                    
                                   <input type="text"  value="{{registro.abl}}" class="form-control" name="abl" id="abl" aria-describedby="helpId" placeholder="" />
                                    
                              </div>
                        </div>
                              
                        <div class="row g-3 ">
                             <div class="col-sm-6 col-md-3 ">  
                                    <div class="mb-2">
                                        
                                        <label for="aysa" class="form-label">Aysa</label>   
                                        
                                        <input type="text" disabled="true" value="{{ registro.aysa }}" class="form-control" name="aysa" id="aysa" aria-describedby="helpId" placeholder="" />
                                   
                                    </div>
                             </div>
                             
                        </div>
                                       
                          <div class="row g-3">
                              <div class="col-sm-6 col-md-4 ">  
                                    <div class="mb-2">
                                        <label for="seguro" class="form-label">Seguro</label>
                                        
                                        <input type="text" disabled="true" value="{{ registro.seguros}}" class="form-control" name="seguro" id="seguro" aria-describedby="helpId" placeholder="" />
                                      
                                    </div>
                              </div>  
                                                    
                        <div class="row g-3">
                              <div class="col-sm-6 col-md-4 ">  
                                   <div class="mb-2">
                                        <label for="exp_extr" class="form-label">Expensas extraordinarias</label>
                                        <input type="text" disabled="true" value=" {{ registro.exp_ext }}" class="form-control" name="exp_extr" id="exp_extr" aria-describedby="helpId" placeholder="" /> 
                                    </div>
                              </div>      
                                                                  
                          </div> 
                         </div>
                          <div class="row g-3">
                              <div class="col-sm-6 col-md-4 ">  
                                    <div class="mb-2">
                                      <label for="varios" class="form-label">Varios</label>
                                      <input type="text" disabled="true" class="form-control" value="{{ registro.valores }}" name="varios" id="varios" aria-describedby="helpId" placeholder="" />
                                    </div>
                              </div>
                          </div>        
                          <div class="row g-3">
                              <div class="col-sm-6 col-md-4 ">  
                                    <div class="mb-2">
                                      <label for="honorarios" class="form-label">Honorarios</label>
                                      <input type="text" disabled="true" class="form-control" value="{{ registro.honorarios }}" name="honorarios" id="honorarios" aria-describedby="helpId" placeholder="" />
                                    </div>
                              </div>
                          </div>         
                                             
            <div class="container text-center">
                        <div class="row align-items-start">
                                  <div class="col-4">
                                        <label for="s_anterior" class="form-label">Saldo anterior servicios</label>
                                        <input type="text" disable="true" value="" class="form-control" name="s_anterior" id="s_anterior" aria-describedby="helpId" placeholder="" />
                                  </div>
                                  <div class="col-4">
                                        <label for="sub_total" class="form-label">Sub Total</label>
                                        <input type="text" disable="true" value="{{registro.saldo}}" class="form-control" name="sub_total" id="sub_total" aria-describedby="helpId" placeholder="" />
                                  </div>
                                  <div class="col-4">
                                        <label for="pago" class="form-label">Pago</label>
                                        <input type="text" disable= "true" value=""  class="form-control" name="pago" id="pago" aria-describedby="helpId" placeholder="monto a pagar" />
                                  </div>
                        </div> 
            </div>  
              
                   
                   
                    <div> 
                    <button type="submit" class="btn btn-alarm text-center"  onclick="hola()"> guardar</button>
                   </div> 
                    
             </div>         
            </form>             
           </div>
          </div>
                      
    </div>
   

{% endblock %}
</body>
</html>