{% extends 'principal.html' %}
{% block contenido %}
<div class="container">
   <div class="card">
   <div class="card-header">
      <h2 class="text-center pt-1 titulos h1">CARGAR INQUILINO</h2>
    </div>
    <div class="card-body">
   
   <form action="#" method="POST">
        <div class="row g-3">
            <div class="col-md">
             <div class="mb-3">
                <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid" type="submite" aria-label="Floating label select example" name="inquilino">
                <option selected>Seleccione</option>
                {% for prop in inquilinos %}
                <option value="{{prop[0]}}">{{prop[1]}}</option>
                {% endfor %}
                </select>
                <label for="floatingSelectGrid">Inquilino</label>
                </div>
             </div>
             <div class="row g-3">
                <div class="col-md">
                 <div class="mb-3">
                    <div class="form-floating">
                    <input type="text" name="varios" value="0" placeholder="indica si posee gastos varios">
                    <input type="submit" value="Enviar">
                    </div>
                 </div>
                </div>
             </div>
           </div>



    </form>
   </div>
</div>
</div>

</main>

{% endblock %}
</body>
</html>